            <!-- footer-container -->


            <div class="footer-container">
                <!-- Anchore Panel -->


                <div class="row anchor-panel" style="background-image: url(&#39;/content/dam/wyndham-dolce/silverado-footer-1200x662.jpg?anchor=center&amp;mode=crop&amp;width=1634&amp;height=350&amp;rnd=130761588780000000&#39;);">
                    <div class="col-mid-1">
                    </div>
                </div>
                <!--/ Anchore Panel -->


                <div class="row links">
                    <div class="col-md-1">
                    </div>


                    <div class="col-md-3 footer-contact">
                        <div class="row">
                            <div class="col">
                                <ul class="footer-address">
                                    <li>Silverado Resort and Spa</li>


                                    <li>1600 Atlas Peak Road</li>


                                    <li>Napa Valley, CA 94558</li>


                                    <li>707-257-0200</li>
                                </ul>
                            </div>


                            <div class="col">
                                <ul class="footer-contact-links">
                                    <li>
                                        <a href=
                                        "https://www.google.com/maps/search/Silverado%20Resort%20and%20Spa+1600%20Atlas%20Peak%20Road++Napa%20Valley+CA+94558"
                                        target="_blank">Map</a>
                                    </li>


                                    <li>
                                        <a href=
                                        "https://www.google.com/maps/dir/Current+Location/Silverado%20Resort%20and%20Spa+1600%20Atlas%20Peak%20Road++Napa%20Valley+CA+94558"
                                        target="_blank">Directions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 footer-links">
                        <div class="col-xs-6">
                            <a href="https://www.silveradoresort.com/contact-us/" target="_self">Contact Us</a> <a href=
                            "https://www.silveradoresort.com/about-us/" target="_self">About Us</a> <a href=
                            "http://www.dolce.com/about/careers/" target="_blank">Careers</a> <a href=
                            "https://www.silveradoresort.com/about-us/press-releases/" target="_self">Press Room</a> <a href=
                            "https://www.silveradoresort.com/about-us/ratings-and-reviews/" target="_self">Ratings and Reviews</a> <a href=
                            "http://silveradoresortandspa.wordpress.com/" target="_blank">Blog</a>
                        </div>


                        <div class="col-xs-6">
                            <a href="http://www.dolce.com/about/customer-care/" target="_blank">FAQ</a> <a href=
                            "https://www.silveradoresort.com/sitemap/" target="_self">Sitemap</a> <a href=
                            "http://www.dolce.com/properties/" target="_blank">Dolce Properties</a> <a href=
                            "http://www.dolce.com/travel-professionals/" target="_blank">Travel Professionals</a> <a href=
                            "http://accuweather.com/en/us/napa-ca/94559/daily-weather-forecast/327133" target="_blank">Weather</a> <a href=
                            "http://www.silveradomembers.com/" target="_blank">Country Club Membership</a>
                        </div>
                    </div>


                    <div class="col-md-3 social-media">
                        <div class="col-xs-3">
                            <a class="icon dol-social-fb" href="http://www.facebook.com/silveradoresort" target="_blank"></a>
                        </div>


                        <div class="col-xs-3">
                            <a class="icon dol-social-gplus" href="https://plus.google.com/+SilveradoResortSpaNapa/posts" target=
                            "_blank"></a>
                        </div>


                        <div class="col-xs-3">
                            <a class="icon dol-social-li" href="https://www.linkedin.com/company/silverado-resort" target="_blank"></a>
                        </div>


                        <div class="col-xs-3">
                            <a class="icon dol-social-pin" href="http://www.pinterest.com/silveradoresort" target="_blank"></a>
                        </div>


                        <div class="col-xs-3">
                            <a class="icon dol-social-tw" href="https://twitter.com/silveradoresort" target="_blank"></a>
                        </div>


                        <div class="col-xs-3">
                            <a class="icon dol-social-youtube" href="https://www.youtube.com/user/1SilveradoResort" target="_blank"></a>
                        </div>
                        <br class="clearfix">
                    </div>


                    <div class="col-md-1">
                    </div>
                </div>


                <div class="row copyright">
                    <div class="notice">
                        <span>© 2015 Dolce Hotels and Resorts</span> <a href="http://www.dolce.com/terms-of-use/" target="_blank">Terms of
                        Use</a> <a href="http://www.dolce.com/privacy-policy/" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
            <!--/ footer-container -->
        </div>
    </div>
    <!-- Alert Modal Box -->
    <!--/ Alert Box -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/script>')
    </script> <script src="/etc/designs/wyndham-dolce/js/customscript_1.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_2.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_3.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_4.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_5.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_6.js" type="text/javascript"></script><script src="/etc/designs/wyndham-dolce/js/customscript_7.js" type="text/javascript"></script> <!-- Inline tags -->
     <!--/ inline tags -->
     <script type="application/ld+json">
    {"@context":"http://schema.org","@type":"WebSite","url":"https://www.silveradoresort.com/","potentialAction":{"@type":"SearchAction","target":"https://www.silveradoresort.com//search/?search={search_term_string}","query_input":"required name=search_term_string"}}
    </script> <script type="application/ld+json">
{"@context":"http://schema.org","@type":"Hotel","name":"Silverado Resort and Spa","address":{"@type":"PostalAddress","addressCountry":"","addressLocality":"Napa Valley","addressRegion":"CA","postalCode":"94558","streetAddress":"1600 Atlas Peak Road"},"hasMap":"https://www.google.com/maps/place/1600+Atlas+Peak+Road%2bNapa+Valley%2bCA%2b94558","telephone":"707-257-0200","openingHours":"Mo-Su","logo":"/content/dam/wyndham-dolce/silverado_logo_dolce_destination_4c.png","url":"https://www.silveradoresort.com/","sameAs":["http://www.facebook.com/silveradoresort","https://plus.google.com/+SilveradoResortSpaNapa/posts","https://www.linkedin.com/company/silverado-resort","http://www.pinterest.com/silveradoresort","https://twitter.com/silveradoresort","https://www.youtube.com/user/1SilveradoResort"]}
    </script> <script type="application/ld+json">
{"@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https://www.silveradoresort.com/","name":"Home"}}]}
    </script>

    <div style="display: none; visibility: hidden;">
        <script>
(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://beacon.sojern.com/pixel/p/2223";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)})();
        </script>
    </div>
    <script id="" type="text/javascript">
(function(){var a=window._fbq||(window._fbq=[]);if(!a.loaded){var b=document.createElement("script");b.async=!0;b.src="//connect.facebook.net/en_US/fbds.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);a.loaded=!0}a.push(["addPixelId","371977819679344"])})();window._fbq=window._fbq||[];window._fbq.push(["track","PixelInitialized",{}]);
    </script> <noscript>&lt;img height="1" width="1" alt="" style="display:none"
    src="https://www.facebook.com/tr?id=371977819679344&amp;amp;ev=PixelInitialized"&gt;</noscript><img alt="" height="1" src="/content/dam/wyndham-dolce/4832534.gif" style="display: none;" width="1"><img alt="" height="1" src=
    "/content/dam/wyndham-dolce/beacon.gif" style="display: none;" width="1"><img alt="" height="1" src="/content/dam/wyndham-dolce/pixel.png" style="display: none;" width=
    "1">
